@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HSSanTokki20-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-color: #131313;
  --primary-color: #6B56FF;
  --text-color: #e9e9e9;
}

body {
  color: var(--text-color);
  background: var(--background-color)
}

.layout {
  padding-top: 25%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
